In [90]:
pip install pandas

Requirement already satisfied: pandas in c:\users\gener\anaconda3\envs\r-tutorial\lib\site-packages (1.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\gener\anaconda3\envs\r-tutorial\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\gener\anaconda3\envs\r-tutorial\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\gener\anaconda3\envs\r-tutorial\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\gener\anaconda3\envs\r-tutorial\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [92]:
import pandas as pd
import json
from collections import Counter

In [94]:
bc_covid19 = pd.read_csv("covid_19.csv")
bc_covid19.head()

,PersonID,Date,Time,HHState,Zipcode,Sex,Age,HHsize,Kids,Auto_own,...,Commute_min,PhyAc_Before,Exe_Before,PhyAc_After,Exe_After,Groc_Shp,Outside_Ac,Outside_Purp,ONL_SHP,ONL_SHP_AFTR
0,70,5/26/2020,11:37:40 AM,CO,80403,1,35,3.0,1.0,2.0,...,15.0,3.0,3,4,6,4,4,NaN,2,-8
1,353,5/27/2020,12:33:08 PM,MI,48189,2,54,2.0,1.0,2.0,...,60.0,3.0,4,4,6,4,4,I go to hiking at a state park at least 3 time...,2,-8
2,24,5/8/2020,7:24:04 AM,CA,92127,2,35,5.0,3.0,3.0,...,15.0,3.0,3,2,6,4,1,NaN,2,-8
3,287,5/17/2020,4:27:42 PM,MD,21210,2,57,3.0,1.0,2.0,...,60.0,4.0,4,2,6,4,1,NaN,2,-8
4,256,5/8/2020,1:58:05 PM,MD,20781,2,24,3.0,0.0,3.0,...,20.0,2.0,2,3,6,4,1,NaN,2,2

In [97]:
bc_covid19 = bc_covid19.drop(columns=['PersonID', 'Time'])

KeyError: "['PersonID' 'Time'] not found in axis"

In [122]:
#Changing sex column
# for i in range(564):
#     if bc_covid19['Sex'][i] == 1:
#         bc_covid19["Sex"][i] = "Male"
#     elif bc_covid19['Sex'][i] == 2:
#         bc_covid19["Sex"][i] = "Female"
#     else:
#          bc_covid19["Sex"][i] = "Non-Binary"

bc_covid19['Sex'].replace({1:"Male", 2:"Female", -8: "Prefer not to answer", -9:"Other/Non-binary "}, inplace = True)

In [123]:
#changing married column
# for i in range(564):
#     if bc_covid19['Married'][i] == 1:
#         bc_covid19["Married"][i] = "Single"
#     elif bc_covid19['Married'][i] == 2:
#         bc_covid19["Married"][i] = "Married"
#     elif bc_covid19['Married'][i] == 3:
#         bc_covid19["Married"][i] = "Divorded/Separeted"
#     else:
#          bc_covid19["Married"][i] = "Prefer not to answer"

bc_covid19['Married'].replace({1:"Single", 2:"Married", 3: "Divorced/Seperated", 4:"Prefer not to answer" }, inplace = True)

In [124]:
#changing education column
# for i in range(564):
#     if bc_covid19['Educ'][i] == 1:
#         bc_covid19["Educ"][i] = "LESS THAN HIGH SCHOOL"
#     elif bc_covid19['Educ'][i] == 2:
#         bc_covid19["Educ"][i] = "HIGH SCHOOL GRAD"
#     elif bc_covid19['Educ'][i] == 3:
#         bc_covid19["Educ"][i] = "SOME COLLEGE, OR AA"
#     elif bc_covid19['Educ'][i] == 4:
#         bc_covid19["Educ"][i] = "GRADUATE OR PROFESSIONAL DEGREE"
#     else:
#          bc_covid19["Educ"][i] = "Prefer not to answer"

bc_covid19['Educ'].replace({1:"LESS THAN HIGH SCHOOL", 2:"HIGH SCHOOL GRAD", 3: "SOME COLLEGE, OR AA", 4:"GRADUATE OR PROFESSIONAL DEGREE", 5:"Prefer not to answer" }, inplace = True)

In [125]:
#changing htype column
#bc_covid19['HType'].replace({1:"Single-Family House", 2:"Multi-Family House", 3: "Condo/townhouse", 4:"Apartment", 5:"Other"})

# for i in range(564):
#     if bc_covid19['HType'][i] == 1:
#         bc_covid19["HType"][i] = "Single-Family House"
#     elif bc_covid19['HType'][i] == 2:
#         bc_covid19["HType"][i] = "Multi-Family House"
#     elif bc_covid19['HType'][i] == 3:
#         bc_covid19["HType"][i] = "Condo/townhouse"
#     elif bc_covid19['HType'][i] == 4:
#         bc_covid19["HType"][i] = "Apartment"
#     else:
#          bc_covid19["HType"][i] = "Other"

bc_covid19['HType'].replace({1:"Single-Family House", 2:"Multi-Family House", 3: "Condo/Townhouse", 4:"Apartment", 5:"Other" }, inplace = True)

In [127]:
#changing worker column
bc_covid19.rename(columns={"Worker ": "Worker"}, inplace = True)
bc_covid19['Worker'].replace({1:"Employed Full Time", 2:"Employed Part Time", 3: "Unemployed", 4:"Retired"}, inplace = True)

In [128]:
#changing commute before column
bc_covid19['commute_before'].replace({1:"Commute Everyday", 2:"Tele-Worked Every Day", 3: "Partial Commute/teleworked", 4:"Not Employed/NA"}, inplace = True)

In [129]:
#changing commute after column
bc_covid19['commute_after'].replace({1:"Did not change/still commute", 2:"Did not change/still tele-work", 3: "Switched to partial commute to work/tele-work",
 4:"Switched to work from home without change in the workload", 5: "Switched to work from home with reduced workload", 6: "Switched to work from home with increased workload",
 7: "Stayed at home and not able to work", 8: "Not Employed/NA"}, inplace = True)

In [130]:
#changing transmode before column
bc_covid19['Transmode_before'].replace({1:"Auto/driving", 2:"Auto/Passenger", 3: "Public Transit",
 4:"Walk", 5: "Bike/Bikeshare", 6: "Rideshare (including Uber and Lift)",
 7: "Other", 8: "NA/Teleworked"}, inplace = True)

In [132]:
#changing changemode column
bc_covid19.rename(columns={"changemode": "Change_trans_mode"}, inplace = True)

bc_covid19['Change_trans_mode'].replace({1:"Yes", 2:"No", -8: "NA"}, inplace = True)

In [133]:
#changing transmode after column
bc_covid19['Transmode_after'].replace({1:"Auto/driving", 2:"Auto/Passenger", 3: "Public Transit",
 4:"Walk", 5: "Bike/Bikeshare", 6: "Rideshare (including Uber and Lift)",
 7: "Other", -8: "NA/Teleworked"}, inplace = True)

In [134]:
#changing PhyAc_Before column
bc_covid19['PhyAc_Before'].replace({1:"0-15 min", 2:"15-30 min", 3: "30-60 min",
 4:"60+ min"}, inplace = True)

In [135]:
#changing Exe_Before column
bc_covid19['Exe_Before'].replace({1:"None", 2:"1-2 times/week", 3: "3-4 times/week",
 4:"5+ times/week"}, inplace = True)

In [137]:
#changing PhyAc_After cloumn
bc_covid19['PhyAc_After'].replace({1:"None", 2:"1-2 times/week", 3: "3-4 times/week",
 4:"5+ times/week"}, inplace = True)

In [138]:
#changing Exe_After
bc_covid19['Exe_After'].replace({1:"None", 2:"5-30 min/day", 3: "30+ min/day",
 4:"5-30 min/1-3days/wk", 5: "5-30 min/3-5days/wk", 6: "30+ min/1-3days/wk",
 7: "30+ min/3-5days/wk"}, inplace = True)

In [139]:
#change Groc_Shp column
bc_covid19['Groc_Shp'].replace({1: "None- All Online",2:"Once/Mth", 3:"Twice/Mth", 4: "3 times/Mth",
 5:"4+ times/Mth"}, inplace = True)

In [140]:
#change Outside_Ac
bc_covid19['Outside_Ac'].replace({1: "None",2:"Once", 3:"Twice", 4: "3+"}, inplace = True)

In [141]:
#changing ONL_SHP
bc_covid19['ONL_SHP'].replace({1: "Yes",2:"No", 3:"Not Applicable"}, inplace = True)

In [142]:
#chaning ONL_SHP_AFTR
bc_covid19['ONL_SHP_AFTR'].replace({1: "Yes",2:"No", 3:"Maybe", -8: "Not Applicable"}, inplace = True)

In [144]:
bc_covid19['Exe_Before']
#bc_covid19.tail()

0      3-4 times/week
1       5+ times/week
2      3-4 times/week
3       5+ times/week
4      1-2 times/week
            ...
559    1-2 times/week
560    3-4 times/week
561              None
562    3-4 times/week
563     5+ times/week
Name: Exe_Before, Length: 564, dtype: object

In [146]:
for i in range(564):
    if bc_covid19['Age'][i] == '1/21/1930':
       bc_covid19['Age'][i] = '91'

In [147]:
for i in range(564):
    if bc_covid19['Age'][i] == '30+':
       bc_covid19['Age'][i] = '30'
    elif bc_covid19['Age'][i] == '711':
        bc_covid19['Age'][i] = '71'

In [148]:
for i in range(564):
    if bc_covid19['Age'][i] == '30+':
        print(i)
    elif bc_covid19['Age'][i] == '711':
        print(i)

In [150]:
bc_covid19

,Date,HHState,Zipcode,Sex,Age,HHsize,Kids,Auto_own,Married,Educ,...,Commute_min,PhyAc_Before,Exe_Before,PhyAc_After,Exe_After,Groc_Shp,Outside_Ac,Outside_Purp,ONL_SHP,ONL_SHP_AFTR
0,5/26/2020,CO,80403,Male,35,3.0,1.0,2.0,Married,GRADUATE OR PROFESSIONAL DEGREE,...,15.0,30-60 min,3-4 times/week,5+ times/week,30+ min/1-3days/wk,3 times/Mth,3+,NaN,No,Not Applicable
1,5/27/2020,MI,48189,Female,54,2.0,1.0,2.0,-8,GRADUATE OR PROFESSIONAL DEGREE,...,60.0,30-60 min,5+ times/week,5+ times/week,30+ min/1-3days/wk,3 times/Mth,3+,I go to hiking at a state park at least 3 time...,No,Not Applicable
2,5/8/2020,CA,92127,Female,35,5.0,3.0,3.0,Married,"SOME COLLEGE, OR AA",...,15.0,30-60 min,3-4 times/week,1-2 times/week,30+ min/1-3days/wk,3 times/Mth,None,NaN,No,Not Applicable
3,5/17/2020,MD,21210,Female,57,3.0,1.0,2.0,Divorced/Seperated,GRADUATE OR PROFESSIONAL DEGREE,...,60.0,60+ min,5+ times/week,1-2 times/week,30+ min/1-3days/wk,3 times/Mth,None,NaN,No,Not Applicable
4,5/8/2020,MD,20781,Female,24,3.0,0.0,3.0,Single,"SOME COLLEGE, OR AA",...,20.0,15-30 min,1-2 times/week,3-4 times/week,30+ min/1-3days/wk,3 times/Mth,None,NaN,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
559,5/26/2020,WA,98502,Female,53,1.0,0.0,1.0,Single,GRADUATE OR PROFESSIONAL DEGREE,...,12.0,15-30 min,1-2 times/week,3-4 times/week,None,Twice/Mth,Twice,meet one friend for social distance walk at ne...,No,Not Applicable
560,4/22/2020,WA,98115,Female,44,4.0,2.0,2.0,Married,"SOME COLLEGE, OR AA",...,0.0,60+ min,3-4 times/week,3-4 times/week,None,Twice/Mth,Twice,Home Depot for home projects,Yes,Maybe
561,4/11/2020,MD,20782,Female,30,2.0,0.0,1.0,Married,GRADUATE OR PROFESSIONAL DEGREE,...,120.0,30-60 min,None,3-4 times/week,None,Twice/Mth,Twice,Emergency and see friend,Yes,Maybe
562,7/1/2020,MD,20853,Female,32,2.0,0.0,2.0,Married,GRADUATE OR PROFESSIONAL DEGREE,...,20.0,30-60 min,3-4 times/week,5+ times/week,None,Twice/Mth,Twice,"Visiting family, going for a drive so my car b...",Yes,No
563,5/30/2020,MD,21202,Female,27,1.0,0.0,0.0,Single,"SOME COLLEGE, OR AA",...,12.0,60+ min,5+ times/week,5+ times/week,None,Twice/Mth,Twice,Bought hardware for home project and visited a...,No,No